body{
    background-color: rgb(32, 44, 97);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
}

.box{
    background-color: steelblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px black;
}

